<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a href="javascript:history.go(-1)" class="btn btn-circle btn-warning"><i class="fa fa-arrow-left fa-fw"></i></a>
            <a href="/" class="btn btn-circle btn-info"><i class="fa fa-home fa-fw"></i></a>
            <a href="javascript:history.go(1)" class="btn btn-circle btn-warning"><i class="fa fa-arrow-right fa-fw"></i></a>
        </div>
        <div class="panel-body" id="projetos">

        </div>
        <div class="panel-footer">
            <div class="col-md-3">
                <a class="btn btn-block btn-primary" style="font-weight: bolder;" onclick="$.post(location.href, {arquivo: prompt('Nome do arquivo: ','%projeto%')}, function(){window.history.go(0)});">
                    <i class="fa fa-plus fa-fw fa-1x"></i> CRIAR NOVO JSON
                </a>
            </div>
            <div class="col-md-4 col-md-offset-5">
                <input class="form-control" id="pesquisa-nav" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
