%navegacao%

<div class="row">
    <div class="hidden-sm hidden-xs col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-%painel-icone%"></i> <strong>%painel-titulo%</strong>
            </div>
            <div class="panel-body">
                <div class="col-md-4 col-md-offset-8"><input id="search" class="form-control" /></div>
                <br /><br />
                <div id="json" class="json-editor"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<footer style="position: fixed; bottom: 24px; right: 12px;">
    <a class="btn btn-primary">Salvar Alterações</a>
</footer>
